<h1>Welcome to RankMe!</h1>
<h2>Please login to continue: </h2>
<p>
</p>
<p>
  Don't have an account? <%= link_to "Register", new_user_path, class: 'button' %>
</p>
<p>
  <%=link_to 'Master mode(provisional)', welcome_index_path%>
</p>
