<h1>Editing User</h1>
<div class="gravatar_edit">
  <%= gravatar_for @user %>
  <h4>Change your avatar:<h4>
  <a href="http://gravatar.com/emails" target="_blank">Edit</a>
</div>
<br><br><br><br>
<%= render 'form' %>
