
<section id="edit-profile">
  <div class="container">
    <row>
      <div class="gravatar_edit">
        <div class="col-xs-6 col-xs-offset-3">
        <%= gravatar_for @user %>
        <h4>Change your avatar:<h4>
        <a href="http://gravatar.com/emails" target="_blank">Edit</a>
      </div>
    </row>
    <row>
      <div class="col-xs-6 col-xs-offset-3">
        <h2 >Edit yor profile:</h2>

        <%= render 'form' %>

          <%= link_to 'Back', login_path ,class:"btn btn-custom"%>

      </div>
    </row>
  </div>
</div>
</section>
