<section id="register">
  <div class="container">
    <row>
      <div class="col-xs-6 col-xs-offset-3">
        <h1>New User</h1>

        <%= render 'form' %>

          <%= link_to 'Back', login_path ,class:"btn btn-custom"%>

      </div>
    </row>
  </div>
</section>
