<h1>You are in master mode</h1>

<p>
      <%= link_to "View users", users_path%>
</p>
<p>
    <%= link_to "View habilities",habilities_path%>
</p>
<p>
  <%= link_to "Back to login page: ", session_login_path%>
</p>
