@import "bootstrap-sprockets";
@import "bootstrap";

.logo
{
  width:150px; /* you can use % */
  height: auto;
  padding: 5px 0px 10px 0px;
  color:#3f3f3f;
  display:inline;
}
.dropdown-toggle
{
  margin: 0px;
  padding-top: 23px !important;
  padding-bottom: 33px !important ;
}
.dropdown
{
  background-color: #269c55;
  text-align: center;
}
.dropdown a, .nav a
{
  color:#ffffff !important;
}
.navbar
{
  background-color: #269c55 !important;
  background-image: none;
  box-shadow: 0px 1% ;
}

.navbar a
{
  font-size: 1.5em;
  font-color: #31deef !important;
}

.navbar-right h3
{
  font-family: Helvetica;

}

nav .btn-primary
{
  padding-top: 23px !important;
  padding-bottom: 33px !important ;
  text-align: center;
  border: 0 none !important;
  border-radius: 0 !important;
  background: #269c55 !important;
}
.btn-primary:hover, .dropdown:hover
{
  background: #e51c23 !important;
}
.error-alert
{
  margin-top:30px;
}
.dropdown li a
{
  color:#000000 !important;
}

body {
  padding-top: 60px;
}



@media (max-width: 800px)
{
  body
  {
    padding-top: 200px;
  }
}
