@import "bootstrap-sprockets";
@import "bootstrap";

/*    --------------------------------------------------
	:: Login Section
	-------------------------------------------------- */
.login-section
{
  background-image: none !important;
  background-color: #e9e9e9 !important;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 13px 16px 5px 0px rgba(110,110,110,0.4);
}
#login {
    padding-top: 50px;
}
#login .login
{
  width: auto;
}
#login .form-wrap {
    width: 40%;
    margin: 0 auto;
}
#login h1 {
    color: #269c55;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    padding-bottom: 20px;
}
#login .form-group {
    margin-bottom: 25px;
}

#login .btn.btn-custom {
    font-size: 14px;
	margin-bottom: 20px;
}
#login .btn.btn-custom:hover
{
  text-decoration: none !important;
  background: #269c55 !important;

}
#login .forget {
    font-size: 13px;
	text-align: center;
	display: block;
}
#login span
{
  color:#ffffff;
  font-size: 15px;
  font-weight:bold;
}
/*    --------------------------------------------------
	:: Inputs & Buttons
	-------------------------------------------------- */
.form-control {
    color: #000000;
}
.btn-custom {
    color: #fff;
	background-color: #5677fc;
}
.register .btn-custom
{
  color: #fff;
  background-color:#e51c23;
}
.btn-custom:hover,
.btn-custom:focus {
    color: #fff;
}
/* Checkbox*/
.form-group input[type="checkbox"] {
    display: none;
}

.form-group input[type="checkbox"] + .btn-group > label span {
    width: 20px;
}

.form-group input[type="checkbox"] + .btn-group > label span:first-child {
    display: none;
}
.form-group input[type="checkbox"] + .btn-group > label span:last-child {
    display: inline-block;
}

.form-group input[type="checkbox"]:checked + .btn-group > label span:first-child {
    display: inline-block;
}
.form-group input[type="checkbox"]:checked + .btn-group > label span:last-child {
    display: none;
}
